<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="flipkart.css">   
    <title>Flipkart</title>
</head>

<body>
<header class="header">
<div class="header-menu">
<div class="logo"><img src="images/logo.png" alt="logo"/></div>
<div class="searchbar"><input name="search" id="search"  type="text" placeholder="Search for products, brand and more"></div>

<div class="menu_list">
    <ul>
        <li><button>Login</button></li>
        <li><a href="#">More </a> </li>
        <li><a href="#">Cart</a></li>
        
    </ul>
</div>
</div>
</header>
<div class='choice'>
<table width="100%" >
    <tr>
        <td><img src="images/1.jpg" alt="" /></td>
        <td><img src="images/2.png" alt="" /></td>
        <td><img src="images/3.jpg" alt="" /></td>
        <td><img src="images/4.jpg" alt="" /></td>
        <td><img src="images/5.jpg" alt="" /></td>
        <td><img src="images/6.jpg" alt="" /></td>
        <td><img src="images/7.jpg" alt="" /></td>
        <td><img src="images/8.jpg" alt="" /></td>
        <td><img src="images/8.jpg" alt="" /></td>
        
    </tr>
    <tr>
        <th>Top Offers</th>
        <th>Grocery</th>
        <th>Mobiles</th>
        <th>Fashion</th>
        <th>Electronics</th>
        <th>Home</th>
        <th>Applications</th>
        <th>Travel</th>
        <th>Beauty, Toys & More</th>
        
    </tr>
</table>
</div>
<div class="outer">
<div class="deal" >

<table width="100%" >
    <tr>
        <th><h3>Deals of the Day</h3></th>
        <th colspan="5" style="text-align: left; padding-left:5px ;"> 22 : 07 : 35 left</th>
        <th><button class="button">VIEW ALL</button></th>
        
    </tr>
    <tr class='break'><td colspan="7"><hr/></td></tr>
    <tr class="image">
        <td><img src="images/9.jpg" alt="" /></td>
        <td><img src="images/10.jpg" alt="" /></td>
        <td><img src="images/11.jpg" alt="" /></td>
        <td><img src="images/12.jpg" alt="" /></td>
        <td><img src="images/13.jpg" alt="" /></td>
        <td><img src="images/14.jpg" alt="" /></td>
        <td><img src="images/14.jpg" alt="" /></td>
        
    </tr>
    <tr>
        <th>Casio,Fastrack...</th>
        <th>Home Temples </th>
        <th>Premium tablet</th>
        <th>Best Of Home Decor</th>
        <th>Metronaut, Provogue&..</th>
        <th>LAVA A12500</th>
        <th>LAVA A123</th>
        
    </tr>
    <tr>
        <td style="color:green">Extra 10% Off</td >
        <td style="color:green">Extra 10% Off</td >
        <td style="color:green">Extra 10% Off</td >
        <td style="color:green">Extra 10% Off</td >
        <td style="color:green">Extra 10% Off</td >
        <td style="color:green">Extra 10% Off</td >
        <td style="color:green">Extra 10% Off</td >
        
    </tr>
    <tr>
        <td style="color: grey;">Knockout Deals!</td>
        <td style="color: grey;">Space Saving furniture</td>
        <td style="color: grey;">For All Top Models</td>
        <td style="color: grey;">Lowest Price Ever</td>
        <td style="color: grey;">Jackets,Dresses & More</td>
        <td style="color: grey;">Now $999</td>
        <td style="color: grey;">Now $999</td>
        
    </tr>
    
</table>
</div>
<div class='advertisement'>
    <img src="images/side.jpg" alt="" />
</div>
</div>
<div class="container-2" >

<table width="100%" >
    <tr>
        <td colspan="3" style="text-align: left;"><h3>Books And music Instrument</h3><p style="vertical-align: text-bottom; color: gray;">Shop Now!</p></td>
        <th colspan="3" style="text-align: left; padding-left:5px ;"></th>
        <th><button class="button">VIEW ALL</button></th>
        
    </tr>
    <tr class='break'><td colspan="7"><hr/></td></tr>
    <tr class="image">
        <td><img src="images/9.jpg" alt="" /></td>
        <td><img src="images/10.jpg" alt="" /></td>
        <td><img src="images/11.jpg" alt="" /></td>
        <td><img src="images/12.jpg" alt="" /></td>
        <td><img src="images/13.jpg" alt="" /></td>
        
    </tr>
    <tr>
        <th>ITEM NAMES</th>
        <th>ITEM NAMES</th>
        <th>ITEM NAMES</th>
        <th>ITEM NAMES</th>
        <th>ITEM NAMES</th>
        <th>ITEM NAMES</th>
        <th>ITEM NAMES</th>
        
    </tr>
    <tr>
        <td style="color:green">ITEM NAMES</td >
        <td style="color:green">ITEM NAMES</td >
        <td style="color:green">ITEM NAMES</td >
        <td style="color:green">ITEM NAMES</td >
        <td style="color:green">ITEM NAMES</td >
        <td style="color:green">ITEM NAMES</td >
        <td style="color:green">ITEM NAMES</td >
        
    </tr>
    <tr>
        <td style="color: grey;">ITEM NAMES</td>
        <td style="color: grey;">ITEM NAMES</td>
        <td style="color: grey;">ITEM NAMES</td>
        <td style="color: grey;">ITEM NAMES</td>
        <td style="color: grey;">ITEM NAMES</td>
        <td style="color: grey;">ITEM NAMES</td>
        <td style="color: grey;">ITEM NAMES</td>
        
    </tr>
    
</table>
</div>
</body>


</html>