<h1 class="heading">Welcome to Your website <%= @user.name %></h1>
<%= image_tag attachments['welcome.webp'].url %>
<p>
<%= url_for(host: 'localhost:3000',
        controller: 'user001s',
        action: 'index') %>
</p>
<p>Thanks for joining and have a great day!</p>
