<h1>Add book details</h1>
<form accept-charset="UTF-8" method='post' action='/books/save'>
  <label for='book'>Book Name</label>
    <input type="text" name='name' placeholder='Enter your book name'> <br>
  <label for='book price'>book price</label>
    <input type='text' name='price' placeholder='Enter your book price'> <br>
  <label for='author id'>Author Id</label>
    <input type="number" name='author_id' placeholder='Enter Author Id'> <br>
  <input type="submit" name='save' value='Save'>
</form>
