<h1>Add New User</h1>
<% if flash[:errors] %>
  <div >
    <ul>
      <% flash[:errors].each do |error| %>
        <li style="color:red;"><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render "user", user001: @user %>
