<h1>User</h1>
<div >
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
   <p>
    <strong>Picture:</strong>
    <%= image_tag (@user.picture.url(:thumb)) %>
  </p>
</div>
