<h1>Add book details</h1>
	<form accept-charset="UTF-8" method='post' action='/author/save'>
		<label for='book'>Author first Name</label>
			<input type="text" name='first_name' placeholder='Enter your Author first Name'> <br>
		<label for='book price'>Author last Name</label>
			<input type='text' name='last_name' placeholder='Enter your Author last Name'> <br>
		<label for='book price'>Author DOB</label>
			<input type='text' name='DOB' placeholder='Enter your Author DOB'> <br>
		<label for='book price'>Author E mail</label>
			<input type='text' name='email' placeholder='Enter your Author mail id'> <br>
		<input type="submit" name='save' value='Save'>
	</form>
