<h1>Add book details</h1>
<form accept-charset="UTF-8" method='post' action='/images/save'>
	<label for='book'>Images Name</label>
		<input type="text" name='img_name' placeholder='Enter your image name'> <br>
	<label for='author id'>Author Id</label>
		<input type="number" name='author_id' placeholder='Enter Author Id'> <br>
	<label for='Book id'>Book Id</label>
		<input type="number" name='book_id' placeholder='Enter Book Id'> <br>
	<input type="submit" name='save' value='Save'>
</form>
